<div class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion</a>
    </div>
</div>

<div class="sidebar">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="ModalServicio">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Servicios
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="ModalProfesional">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Profesionales
            </NavLink>
        </div>
    </nav>
</div>

@code {
    // You can keep your code as is without the collapse functionality.
}
