@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject AuthenticationStateProvider AuthenticationStateProvider
<nav class="navbar navbar-expand-lg p-3" style="background-color:deeppink">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white" href="#">Beauty Salon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto" style="color: white">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="IntroSection">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="AgendarCitaForm">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Contact Us</a>
                </li>
                
                <li class="nav-item">
                    <LoginDisplay></LoginDisplay>
                </li>

                

            </ul>
        </div>
    </div>
</nav>
@code {
    private ClaimsPrincipal User;


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
    }
}